*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body{
    background: black;
}
img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
}

#caixa-numeros{
display: block;
margin-right: auto;
    margin-left: auto;
    width: 340px;
    background: white;
    border-radius: 6px;
    text-align: center;
}
.numeros{
    text-align: center;
    font-weight: 600;
    
    font-size: 50px;

}
.numero-verde{
    color: #c5fb01;
}
#caixa-botoes{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 20px;
}
.botoes{
    color: #c5fb01;
    padding: 6px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 5px;
}